div{
	background-color: #00FFFF;
	left: 25%;
    right: 25%;
	width:1000px;
    height:706px;
	 position: absolute;
}

body{
	background-color: #808080;
}

#principalc{
	width: 800;
	height: 500;
	background-color: #FFFFFF;	
}

canvas{
  border: 1px solid;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.boton{
	margin-top: 55%;
	//margin-left:10%; Para separar los botones
}