#container {    /*Propiedades del contener principal  */
  position: center;
  width: 1925px;
  height: 1500px;
  background-color: #336212;
  padding: 0px;
  margin: 0px;
  /* font-size: 0; */
}

#container > div {    /*Ordenamiento de la reticula*/ 
  display: inline-block;
  box-sizing: border-box;
  
  width: 30px;
  height: 30px;

  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center; 
  font-size: 15px;
  
  border: 1px solid white;
} 

