#contenedor_principal{  /*Contenedor principal para separar areas */
	background: #FAEBD7;
	background-position: center;
	height:6	00px;	
	text-align: center;
     }
	 
#tablero_gato{  /*Solo se usa para distinguir el area */
	background: #F5F5DC;
	background-position: 50% 50%;
	height:80%;
	text-align: center;
    }

#boton{  /*Coloca el botón en el centro de la página*/
	background-position: 50% 50%;
	height:80%;
	text-align: center;
}
	
.posicion {   /* Celdas del gato */
  flex: 1 0 calc(33% - 10px);
  margin: 5px;
  height: 100px;
  background-color:  	#FFB6C1;
  width : 50px;
}
.circulo {   /* Celdas del gato */
  flex: 1 0 calc(33% - 10px);
  margin: 5px;
  height: 100px;
  width : 50px;
}
.tache {   /* Celdas del gato */
  flex: 1 0 calc(33% - 10px);
  margin: 5px;
  height: 100px;
  width : 50px;
}

.posicion:hover {    /* Colorea de otro color la celda sobre la que esta el mouse*/  
  background-color: #E9967A;
}

.tablero {    /* Clase en la que se define el tablero y la posicion de las casillas */
  display: inline-flex;
  flex-wrap: wrap;
  width: 400px;
}