svg { 
 padding: 0;	
    display: block; 
    bottom: 0;
    left: 0;
    right: 0;
  background: #336212;	
  width:800;
  height:600;

} 

body {   /*Estilo para el cuerpo */
  background: #336212;
}