div{                                                      /*Contenedor princiapl de todo*/
	background-image: url("imagenes/fondo1.jpg");
	left: 25%;
    right: 25%;
	width:1000px;
    height:706px;
	 position: absolute;
	 text-align:center
}

body{                                             /*Cuerpo general del proyecto*/
	background-color: #87a3a4;
}

#principalc{
	width: 800;
	height: 500;
	background-color: #87a3a4;	
}

#fondoPantallaGenereal{
	 margin:0px 0px 0px 0px;
	background-color: #87a3a4;	
}


#video{      /*Video Inicio */
	left: 8%;
    right: 70%;
	top: 20%;
}

#botonEjemplo{  /*Inicio2 Ejemplos*/
	margin-top: 15%;
	margin-left:80%; 
	display:float;
}

#botonVerificar{  /*Inicio1 Verificar*/
	margin-top: 40%;
	display:float;
}

#resultado{  /*Inicio1 Campo  del usuario*/
	margin-top: 40%;
		margin-left:-40%; 
	display:float;
}

#matrices{
	left: 8%;
    right: 70%;
	top: -40%;
}

#matriz{     /*Canvas Motivacion2*/
	margin-top: -20%;
	left: 8%;
    right: 70%;
	width:400px;
    height:200px;
}

#matrizMa{     /*Canvas Motivacion2*/
	margin-top: -20%;
	left: 8%;
    right: 70%;
	width:400px;
    height:200px;
}

#matrizA{     /*Desarrollo*/
	margin-top: 8%;
	left: 5%;
	width:200px;
    height:120px;
}

#matrizB{     /*Desarrollo*/
	margin-top: 8%;
	left: 30%;
	width:200px;
    height:120px;
}

#suma{  /*Suma MAtrices	*/
	margin-left: 0%;
	margin-top: 25%;
	width:400px;
    height:200px;
	 position: absolute;
}

#matrizA3{     /*Desarrollo*/
	margin-top: 8%;
	left: 5%;
	width:200px;
    height:120px;
}

#matrizB3{     /*Desarrollo*/
	margin-top: 8%;
	left: 30%;
	width:200px;
    height:120px;
}

#suma3{  /*Suma MAtrices	*/
	margin-left: 0%;
	margin-top: 25%;
	width:400px;
    height:200px;
	 position: absolute;
}

#matrizAC{     /*Cierre3*/
	margin-top: 8%;
	right: 5%;
	width:200px;
    height:120px;
}

#matrizBC{     /*Cierre3*/
    margin-right: 40%;
	margin-top: 8%;
	width:200px;
    height:120px;
}

#operacion{  /*Cierre3	*/
	margin-right: 20%;
	margin-top: 25%;
	width:400px;
    height:200px;
	 position: absolute;
}

#ejemplo{  /*Desarrollo 2 MAtrices	*/
	margin-top: 2%;
	width:400px;
    height:200px;
	 position: absolute;
}

#ejemplosol{  /*Desarrollo 2 MAtrices	*/
	margin-top: 25%;
	width:400px;
    height:200px;
	 position: absolute;
}

#desExp{ /*Desarrollo 2 MAtrices	*/
	margin-top: 4%;
	width:400px;
    height:200px;
	 position: absolute;
}

#desExp2{  /*Desarrollo 2 MAtrices	*/
	margin-top: 25%;
	width:400px;
    height:200px;
	 position: absolute;
}

#descFinal{  /*Cierre4*/
	margin-left: 5%;
	width:200px;
    height:450px;
	 position: absolute;
}



canvas{   /** Principal de todos los canvas */
  border: 0px solid;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: 99FF99;
}

.boton{                                 /*Clase boton general*/
	margin-top: 55%;
	//margin-left:10%;
	display:float;
}

.botonSig{                 /*Boton html siguiente*/
	margin-top: -10%;
	margin-left:95%; 
	display:float;
}

.botonAnt{                 /*Boton html anterior*/
	margin-top: 0%;
	margin-right:10%; 
	display:float;
}

.derecho{           /*Canvas Derecho ya sea para ejemplo o explicacion*/
	left: 8%;
    right: 70%;
	width:400px;
    height:450px;
	 position: absolute;
	 text-align:center;
}

.izquierdo{ /*Canvas Izquierdo ya sea para ejemplo o explicacion*/
	left: 50%;
    right: 3%;
	width:400px;
    height:450px;
	 position: absolute;
	 text-align: center;
}
.derechoMini{            /*Canvas auxiliar*/
	background-color: #FFFFFF;
	left: 8%;
    right: 70%;
	width: 400px;
    height:350px;
	 position: absolute;
	
}

.principales{   /*Contenedor principal en caso de que no se muestren varios */
  	margin-top: 7%;
	width: 900px;
	height: 400px;
	background-color: #FFFFFF;	
}

.botonEjemplo{              /*Boton Inicio2 Mostrar ejemplos*/
	margin-top: 5%;
	margin-left:40%; 
	background-color: #f79c22;	
	position:float;
}

.mensajes{            /*Canvas de mensajes*/
	left: 8%;
    right: 70%;
	top: 55%;
}

.general{                                                      /*Contenedor principal de los divs*/
	background-image: url("imagenes/fondo.jpeg");
	 text-align:center
}

.titulo{
	text-align : center;
}

.ejemploA{
	text-align : left;
	margin-left: 13%;
	margin-top:0%
}

.ejemploB{
	text-align : left;
	margin-left: 35%;
	margin-top:-4%
}

.tituMens{
	text-align : left;
     margin-left: 15%;
	margin-top:18%
}